<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891998108895-35nps96h94ud8pmvtfa6bj33hlann0vh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891998108895-35nps96h94ud8pmvtfa6bj33hlann0vh</string>
	<key>API_KEY</key>
	<string>AIzaSyAQzq3LsVv2ndjOZ0RkjF7pBMXW7sqSF4o</string>
	<key>GCM_SENDER_ID</key>
	<string>891998108895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>COM.usman.ZomallApp</string>
	<key>PROJECT_ID</key>
	<string>zomall-282510</string>
	<key>STORAGE_BUCKET</key>
	<string>zomall-282510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891998108895:ios:598b099c34954beff57d6a</string>
	<key>DATABASE_URL</key>
	<string>https://zomall-282510.firebaseio.com</string>
</dict>
</plist>